.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .check-point {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height:50px;
  }

  .healthy {
    background: #01DF01;
  }

  .bad {
    background: red;
  }

  .time-text {
    color: gray;
  }
  
  #time-label {
    position: absolute;
    top: 1%;
    left: 1%;
  }